<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/930/930541.svg")
        link(href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet')
        link(rel="stylesheet", href="css/home.css")
        title Ups!
    body
        header#head
            h1= `${url} Not Found ☹ (404)`