*{
    font-family: 'Allerta';
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #535353 ;
}
/*************************HEADER**************************************************/
header{
    padding: 0.5% 1%;
    background-color: #355C7D;
    /*background-image: linear-gradient(62deg, #2A363B 0%, #2A363B 100%);*/
    border-bottom: solid 1px #f4ffe4;
    -webkit-box-shadow: -1px -5px 32px 0px rgba(0, 0, 0, 0.582);
    -moz-box-shadow: -1px -5px 32px 0px rgba(0, 0, 0, 0.555);
    box-shadow: -1px -5px 32px 0px rgba(0, 0, 0, 0.527);
}

header h1{
    color: #f4ffe4;
    font-weight: 100;
}
/*************************FORM**************************************************/
.notas{
    display: flex;
    justify-content: center;
}
form{
    border-radius: 20px;
    border: 1px solid #f4ffe4;
    margin-top: 2%;
    padding: 1.5%;
    display: grid;
    background: rgba(40, 105, 255, 0.575);
    background: linear-gradient(329deg, rgba(40, 105, 255, 0.397) 0%,
     rgba(0, 119, 255, 0.295) 41%, rgba(67, 189, 255, 0.473) 77%,
     rgba(62, 213, 255, 0.39) 100%);
    width: 50%;
    height: 200px;
    -webkit-box-shadow: 17px 17px 32px 0px rgba(31, 31, 31, 0.651);
    -moz-box-shadow: 17px 17px 32px 0px rgba(31, 31, 31, 0.651);
    box-shadow: 17px 17px 32px 0px rgba(31, 31, 31, 0.651);
}
form textarea{
    padding: 1%;
    font-size: 120%;
    outline: none;
    color: #f4ffe4;
    border: none;
    background-color: transparent;
}
form textarea::placeholder{
    color: #f4ffe4d2;
}
textarea{
    resize: none;
}
textarea::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
textarea::-webkit-scrollbar-thumb{
    background-color:rgba(255, 255, 255, 0.527);
    border-radius: 100px;
}
.sumit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
form .sumit button{
    border-radius: 20px;
    outline: none;
    border: 1px solid #f4ffe4a8;
    background-color: transparent;
    width: 100px;
    height: 40px;
}
form .sumit button img{
    width: 100%;
    height: 100%;
    transform: rotatez(30deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/*************************NOTES**************************************************/
#tus_notas{
    margin: 3%;
}
.nota {
    margin: 3% 0 0 5%;
    height: 100%;
    max-width: 85%;
}
.nota div, .nota p{
    padding: 8px;
    height: 100%;
    width: 100%;
}
.tit{
    background: rgba(40, 105, 255, 0.575);
    background: linear-gradient(329deg, rgba(40, 105, 255, 0.397) 0%,
     rgba(0, 119, 255, 0.295) 41%, rgba(9, 126, 189, 0.473) 77%,
     rgba(4, 118, 150, 0.39) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}
.tit h3{
    margin: 0.5% 1%;
    font-size: 150%;
    color: rgb(211, 211, 211);
}
.nota a{
    float: right;
    height: 40px;
    width: 40px;
    padding-bottom: 2px;
    border-radius: 50px;
    font-size: 120%;
    font-weight: 100;
    transform: scale(0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(34, 34, 34);
    background-color: rgb(216, 39, 8);
    opacity: 55%;
    transition-property: all;
    transition-duration: 200ms;
}
.nota a:hover,.tit a:active{
    font-weight: 1900;
    transform: scale(0.9);
    opacity: 100%;
}
.conten{
    padding: 6px;
    background-color: rgb(170, 170, 170);
    border-radius: 0 0 20px 20px;
}

/*************************RESPOSIVE**************************************************/

@media screen and (max-width: 768px){
    header{
        padding: 1.5% 1%;
    }
    header h1{
        font-size: 150%;
    }
    form{
        margin-top: 5%;
        width: 73%;
        height: 170px;
        padding: 2.5%;
    }
    form .sumit button{
        width: 90px;
        height: 33px;
    }
    form .sumit button img{
        width: 100%;
        height: 115%;
    }
    .nota {
        margin-top: 5%;
    }
}