*{
    font-family: 'Allerta';
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #535353 ;
}
/*HEADER*/
header{
    padding: 0.5% 1%;
    background-color: #204051;
    border-bottom: solid 1px #f4ffe4;
    box-shadow: -1px -5px 32px 0px rgba(0, 0, 0, 0.527);
}
header h1{
    color: #f4ffe4;
    font-weight: 100;
}
/*FORM*/
.notas{
    display: flex;
    justify-content: center;
}
form{
    border-radius: 20px;
    border: 1px solid #f4ffe4;
    margin-top: 2%;
    padding: 1.5%;
    display: grid;
    background: rgb(69,147,159);
    background: radial-gradient(circle, rgba(69, 147, 159, 0.685) 0%, rgba(32,64,80,1) 88%);      
    width: 50%;
    height: 200px;
    box-shadow: 17px 17px 32px 0px rgba(31, 31, 31, 0.651);
}
form textarea{
    padding: 1%;
    font-size: 120%;
    outline: none;
    color: #f4ffe4;
    border: none;
    resize: none;
}
form textarea::placeholder{
    color: #f4ffe4d2;
}
textarea::-webkit-scrollbar{
    width: 5px;
}
textarea::-webkit-scrollbar-thumb{
    background-color:rgba(255, 255, 255, 0.527);
    border-radius: 100px;
}
.sumit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
form .sumit button{
    border-radius: 20px;
    outline: none;
    border: 1px solid #f4ffe4a8;
    width: 100px;
    height: 40px;
}
form .sumit button img{
    width: 100%;
    height: 100%;
    transform: rotatez(30deg);
    filter: invert(100%);
}
form .sumit button,textarea::-webkit-scrollbar,form textarea{background-color: transparent;}
/*NOTES*/
#tus_notas{
    margin: 3%;
}
.nota {
    margin: 1% 0 0 5%;
    max-width: 85%;
    transform: scale(0.9);
}
.nota div, .nota p{
    padding: 10px;
    height: 100%;
    width: 100%;
}
.tit{
    background-color: #3B6978;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}
.tit h2{
    margin: 0.5% 1%;
    color: rgb(211, 211, 211);
}
.nota a{
    text-decoration: none;
    float: right;
    padding: 1% 1.5%;
    border-radius: 50px;
    font-size: 120%;
    transform: scale(0.9);
    background-color: rgb(216, 39, 8);
    opacity: 55%;
    transition-property: all;
    transition-duration: 200ms;
}
.nota a:hover,.tit a:active{
    font-weight: 900;
    transform: scale(1.1);
    opacity: 100%;
}
.conten{
    min-height: 40px;
    background-color: #E4E3E3;
    border-radius: 0 0 20px 20px;
}
/*RESPOSIVE*/
@media screen and (max-width: 768px){
    form{
        margin-top: 5%;
        width: 73%;
        height: 170px;
        padding: 2.5%;
    }
    form .sumit button{
        width: 90px;
        height: 33px;
    }
    form .sumit button img{
        width: 100%;
        height: 115%;
    }
    .nota a{
        padding: 1% 3%;
    }
}